# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/

# Distribution
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Claude
.claude/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db


*.pt
*.pkl
